h1, h2, h3, h4, h5, h6{
    color:rgb(39, 37, 37)
}
#content {
    max-width: 1600px;
    margin:  0 auto;
    background-color: rgb(145, 105, 105);
}
.msg {
    text-align: center;
    background-color: #aeb870;
}
#background {
    height: 725px;
}
body {
    background-color: #d4caca; 
    text-align: center;
} 
header{
    background-color: rgb(114, 112, 81);
    text-align: left;
}
nav a:hover {
    background-color: rgb(89, 49, 49);
}
nav a:hover{
    color: #22223b;
    background-color: rgb(89, 71, 71);
}
main {
    background-color: rgb(196, 196, 194);
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #f9e6e6;
    text-decoration: none;
}
footer p {
    font-size: 1.5em;
}   
footer p a:hover {
    text-decoration: underline;
}    
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 3em;
}
.msg {
    background-color: #958d30;
    line-height: 2.5em;
}   
body {
    background-color: #9e6f6f;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 15;
    padding: 0;
}
h2 {
    margin: 50;
}
nav a {
    text-decoration: none;
    color: #ebebeb;
    text-align: center;
    padding: 35px;
}                   
.book, .join {
    background-color: #725e43;
    color: rgb(200, 80, 80);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.book, .join {
    background-color: #563c17;
    color: rgb(216, 197, 197);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #a9865a;
}
main section img {
    box-sizing: border-box;
}
.book, .join {
    background-color: #d9c2a3;
    color: rgb(238, 235, 235);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 10px;
}
.card-img {
    border: 10px solid #eba850;
}
main section img {
    box-sizing: border-box;
}